# Raport: Analiza danych i budowa modelu predykcyjnego

**Cel:** Na podstawie dostarczonych danych zbudować model predykcyjny przewidujący wartość zmiennej `score`.

In [1]:
# Importowanie bibliotek
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Wczytywanie przetworzonych danych
df = pd.read_csv("data/processed_data_with_dummies.csv")

# Podstawowe informacje o danych
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4739 entries, 0 to 4738
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   rownames            4739 non-null   int64
 1   score               4739 non-null   float64
 2   unemp               4739 non-null   float64
 3   wage                4739 non-null   float64
 4   distance            4739 non-null   float64
 5   tuition             4739 non-null   float64
 6   education           4739 non-null   int64
 7   gender_male         4739 non-null   bool
 8   ethnicity_hispanic  4739 non-null   bool
 9   ethnicity_other     4739 non-null   bool
 10  fcollege_yes        4739 non-null   bool
 11  mcollege_yes        4739 non-null   bool
 12  home_yes            4739 non-null   bool
 13  urban_yes           4739 non-null   bool
 14  income_low          4739 non-null   bool
 15  region_west         4739 non-null   bool
dtypes: bool(9), float64(5), int64(2)
memory usage: 300.9 KB

,rownames,score,unemp,wage,distance,tuition,education
count,4739.000000,4739.000000,4739.000000,4739.000000,4739.000000,4739.000000,4739.000000
mean,3954.638953,50.889029,7.597215,9.500506,1.802870,0.814608,13.807765
std,5953.827761,8.701910,2.763581,1.343067,2.297128,0.339504,1.789107
min,1.000000,28.950001,1.400000,6.590000,0.000000,0.257510,12.000000
25%,1185.500000,43.924999,5.900000,8.850000,0.400000,0.484990,12.000000
50%,2370.000000,51.189999,7.100000,9.680000,1.000000,0.824480,13.000000
75%,3554.500000,57.769999,8.900000,10.150000,2.500000,1.127020,16.000000
max,37810.000000,72.809998,24.900000,12.960000,20.000000,1.404160,18.000000

# Eksploracja danych
### Wykresy rozkładów zmiennych

In [2]:
sns.pairplot(df)
plt.savefig('data/pairplot.png')
plt.close()

# Wykres rozkładu zmiennej score
plt.figure(figsize=(8, 6))
sns.histplot(df['score'], kde=True)
plt.title("Distribution of Score")
plt.xlabel("Score")
plt.ylabel("Frequency")
plt.savefig('data/score_distribution.png')
plt.close()

# Wstawianie wykresów
![Pairplot](data/pairplot.png)
![Rozkład zmiennej score](data/score_distribution.png)

In [3]:
from sklearn.metrics import mean_squared_error, r2_score
# Ocena modelu
import joblib

# Wczytaj model
model = joblib.load("data/trained_model.joblib")

# Predykcje i ewaluacja modelu
X = df.drop(columns=['score'])
y = df['score']

y_pred = model.predict(X)

mse = mean_squared_error(y, y_pred)
r2 = r2_score(y, y_pred)

print(f'MSE: {mse}')
print(f'R²: {r2}')

# Wizualizacja wyników
plt.figure(figsize=(8, 6))
plt.scatter(y, y_pred, alpha=0.5)
plt.plot([y.min(), y.max()], [y.min(), y.max()], 'r--')
plt.xlabel("Actual Score")
plt.ylabel("Predicted Score")
plt.title("Actual vs Predicted Score")
plt.savefig('data/actual_vs_predicted.png')
plt.close()

MSE: 21.86593286905961
R²: 0.7111778299301941

# Wstawianie wykresu oceny modelu
![Actual vs Predicted Score](data/actual_vs_predicted.png)

### Ocena modelu
Model Random Forest został oceniony przy użyciu MSE (Mean Squared Error) oraz R². Uzyskane wyniki wskazują na satysfakcjonującą jakość predykcji, z wartością R² wynoszącą {r2:.2f} oraz MSE równym {mse:.2f}. Model jest skuteczny w przewidywaniu wartości zmiennej 'score' na podstawie dostępnych danych.